* {
	margin: 0;
	padding: 0;
}

.grid {
	display : grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 2em 2em auto 2em;
	grid-template-areas:
	"titre"
	"entete"
	"authentification"
	"pied_de_page";
	grid-gap : 30px;
}

.titre {
	grid-area : titre;
}

.entete {
	grid-area : entete;
}

.menu {
	grid-area : menu;
}

.menu li{
	display : block;
	padding-left : 0px;
	padding-bottom : 2em;
}

.menu li:nth-child(1){
	padding-left : 0px;
}

.authentification {
	grid-area : authentification;
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	-webkit-box-shadow: 2px 5px 7px #666666;
	-moz-box-shadow: 2px 5px 7px #666666;
	box-shadow: 2px 5px 7px #666666;
	font-family: Arial;
}

.authentification label {
	display : none;
}

.authentification .champ {
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	font-size: 17px;
	background: white;
	padding: 8px 0px 8px 0px;
	margin: 8px 0px 8px 0px;
	text-decoration: none;
	text-align : center;
}

.pied_de_page {
	grid-area : pied_de_page;
}

.grid div:nth-child(even) {
//	background-color: red;
}

.grid div:nth-child(odd) {
//	background-color: green;
}

.grid h1 {
	text-align:center;
}

.grid h2 {
	background-color: gray;
	text-align:center;
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px 10px 0 0;
	font-family: Arial;
	color: #ffffff;
	font-size: 17px;
	padding: 8px 18px 8px 18px;
	text-decoration: none;
}

.grid h3 {
	background-color: #e0e0e0;
	text-align:center;
	font-family: Arial;
	color: black;
	font-size: 17px;
	padding: 8px 18px 8px 18px;
	text-decoration: none;
}

.grid p {
	text-align:center;
}

.grid ul { 
	list-style:none; 
	margin:0; 
	padding:5px;
	text-align:center;
}

.bouton,
.bouton_deco {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 2px 5px 7px #666666;
  -moz-box-shadow: 2px 5px 7px #666666;
  box-shadow: 2px 5px 7px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  background: #36a9f5;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
}

.bouton:hover,
.bouton_deco:hover {
  background: #4fb7f7;
  text-decoration: none;
}

.bouton_deco {
  background: #f53600;
}

.bouton_deco:hover {
  background: #f74f50;
}

.authentification .bouton {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	margin: 8px 0px 8px 0px;
	width : 90%;
}

@media screen and (min-width: 750px)
{

.menu li{
	display : inline;
	padding-left : 10px;
}

.grid {
	display : grid;
	grid-template-columns: 1fr 40em 1fr;
	grid-template-rows: 2em 2em auto 2em;
	grid-template-areas:
	"titre titre titre"
	"entete entete entete"
	". authentification ."
	"pied_de_page pied_de_page pied_de_page";
	}	
	
}

